<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{entity.warehouse.edit.page.title}">Warehouse</title>
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>

<h1 th:text="#{entity.warehouse.edit.page.label}">Warehouse</h1>

<form th:action="@{/warehouses/{warehouseId}(warehouseId=${warehouse.id()})}" method="post" th:object="${warehouse}">
    <fieldset>
        <legend th:text="#{entity.warehouse.edit.page.details.label}">Warehouse Details</legend>

        <div class="form-group">
            <label for="name" class="form-label" th:text="#{entity.warehouse.field.name}">Name:</label>
            <input id="name" type="text" name="name" th:value="*{name}" aria-label="Name" class="form-input">
        </div>

        <div class="form-group">
            <label for="country">Country:
                <select id="country" name="countryId">
                    <option th:each="country : ${countries}"
                            th:value="${country.id}"
                            th:selected="${country.id == warehouse.country.id}"
                            th:text="${country.name}"
                            aria-label="Name">Country</option>
                </select>
            </label>
        </div>

        <div class="form-group">
            <label for="address" class="form-label" th:text="#{entity.warehouse.field.address}">Address:</label>
            <input id="address" type="text" name="address" th:value="*{address}" aria-label="Address" class="form-input">
        </div>

        <div class="form-group">
            <label for="commentary" class="form-label" th:text="#{entity.warehouse.field.commentary}">Commentary:</label>
            <input id="commentary" type="text" name="commentary" th:value="*{commentary}" aria-label="Commentary" class="form-input">
        </div>

        <button type="submit" th:text="#{ui.button.update.label}">Update</button>

    </fieldset>
</form>
<br>
<form th:action="@{/warehouses/{warehouseId}/delete(warehouseId=${warehouse.id()})}" method="post">
    <button type="submit"
            id="removeButton"
            class="btn btn-danger"
            th:text="#{ui.button.remove.label}"
            th:data-confirm-message="#{entity.warehouse.remove.button.confirmation.message}">
        <i class="fa fa-trash"></i> Remove
    </button>
</form>

<div>
    <a th:href="@{/warehouses}" th:text="#{ui.button.goBack}">Go back</a>
</div>
<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go to Main</a>
</div>

<div th:insert="~{fragments::errors}"></div>

</body>
</html>