<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title>Client Statuses</title>
</head>

<body>
<h1>Client Statuses</h1>
<table id="shipmentStatusesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Modified At</th>
        <th>Created By</th>
        <th>Modified By</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="shipmentStatus : ${shipmentStatuses}">
        <td th:text="${shipmentStatus.id}">ID</td>
        <td><a th:href="@{'/shipmentStatuses/' + ${shipmentStatus.id}}" th:text="${shipmentStatus.name}">Name</a></td>
        <td th:text="${shipmentStatus.createdAt}">Created At</td>
        <td th:text="${shipmentStatus.modifiedAt}">Modified At</td>
        <td th:text="${shipmentStatus.createdBy}">Created By</td>
        <td th:text="${shipmentStatus.modifiedBy}">Modified By</td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#shipmentStatusesTable').DataTable();
    });
</script>

<br>

<h3>Add a new shipment status</h3>
<form th:action="@{/shipmentStatuses}" method="post">
    <label for="name">
        <input id="name" type="text" name="name">
    </label>
    <button type="submit">Add</button>
</form>
<br>

<div>
    <a th:href="@{/menu}">Go to Main menu</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>