<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.clientStatus.list.page.title}">Client Statuses</title>
    <script>initializeDataTable('clientStatusesTable');</script>
</head>
<body>

<h1 th:text="#{entity.clientStatus.list.page.label}">Client Statuses</h1>

<form action="/clientStatuses/create">
    <button type="submit" th:text="#{entity.clientStatus.create.button.label}">Add a new Client Status</button>
</form>

<table id="clientStatusesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.businessType.field.name}">Name</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="clientStatus : ${clientStatuses}">
        <td th:text="${clientStatus.id}">ID</td>
        <td><a th:href="@{'/clientStatuses/' + ${clientStatus.id}}" th:text="${clientStatus.name}">Name</a></td>
        <td th:text="${clientStatus.createdBy}">Created By</td>
        <td th:text="${clientStatus.createdAt}">Created At</td>
        <td th:text="${clientStatus.modifiedBy}">Modified By</td>
        <td th:text="${clientStatus.modifiedAt}">Modified At</td>
        <td>
            <form th:action="@{/clientStatuses/{clientStatusId}/delete(clientStatusId=${clientStatus.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

