<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{entity.shipment.edit.page.title} + ' #' + ${shipment.id}">Shipment</title>
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>


<div th:class="vertical-container">

    <h1 class="m-4 text-primary" th:text="#{entity.shipment.edit.page.label} + ' #' + ${shipment.id}">Shipment ID</h1>

    <div th:class="main-container">

        <form th:action="@{/shipments/{shipmentId}(shipmentId=${shipment.id()})}" method="post" th:object="${shipment}">

            <fieldset>
                <legend th:text="#{entity.shipment.section.order}"></legend>
                <div class="form-group">
                    <label for="shipmentStatus" class="form-label"
                           th:text="#{entity.shipment.field.shipmentStatus}">Shipment Status:</label>
                    <select id="shipmentStatus" name="shipmentStatusId">
                        <option th:each="shipmentStatus : ${shipmentStatuses}"
                                th:value="${shipmentStatus.id}"
                                th:selected="${shipmentStatus.id == shipment.shipmentStatus.id}"
                                th:text="${shipmentStatus.nameLocales[__${#locale.language}__]} ?: ${shipmentStatus.name}"
                                aria-label="Shipment Status">Shipment Status
                        </option>
                    </select>
                </div>
            </fieldset>

            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-commonData-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-commonData" type="button" role="tab" aria-controls="nav-commonData"
                            aria-selected="true"
                            th:text="#{entity.shipment.tab.commonData}">Common Data
                    </button>
                    <button class="nav-link" id="nav-cargo-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-cargo" type="button" role="tab"
                            aria-controls="nav-cargo" aria-selected="false"
                            th:text="#{entity.shipment.tab.cargo}">Cargo
                    </button>
                    <button class="nav-link" id="nav-originDestination-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-originDestination"
                            type="button" role="tab" aria-controls="nav-originDestination" aria-selected="false"
                            th:text="#{entity.shipment.tab.originDestination}">Origin Destination
                    </button>
                    <button class="nav-link" id="nav-additional-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-additional" type="button" role="tab"
                            aria-controls="nav-additional" aria-selected="false"
                            th:text="#{entity.shipment.tab.additional}">Additional
                    </button>
                    <button class="nav-link" id="nav-cargoRelease-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-cargoRelease" type="button" role="tab"
                            aria-controls="nav-cargoRelease" aria-selected="false"
                            th:text="#{entity.shipment.tab.cargoRelease}">Cargo Release
                    </button>
                    <button class="nav-link" id="nav-invoices-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-invoices" type="button" role="tab"
                            aria-controls="nav-invoices" aria-selected="false"
                            th:text="#{entity.shipment.tab.invoices}">Invoices
                    </button>
                </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-commonData" role="tabpanel"
                     aria-labelledby="nav-commonData-tab"
                     tabindex="0">

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.commonInformation}"></legend>

                        <div class="form-group">
                            <label for="client" class="form-label"
                                   th:text="#{entity.shipment.field.client}">Client:</label>
                            <select id="client" name="clientId">
                                <option th:each="client : ${clients}" th:value="${client.id}"
                                        th:selected="${client.id == shipment.client.id}" th:text="${client.name}"
                                        aria-label="Client">Client
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="priority" class="form-label"
                                   th:text="#{entity.shipment.field.priority}">Priority:</label>
                            <select id="priority" name="priorityId">
                                <option th:each="priority : ${priorities}"
                                        th:value="${priority.id}"
                                        th:selected="${priority.id == shipment.priority.id}"
                                        th:text="${priority.nameLocales[__${#locale.language}__]} ?: ${priority.name}"
                                        aria-label="Priority">Priority
                                </option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.currentLocation}"></legend>
                        <div class="form-group">
                            <label for="route" class="form-label"
                                   th:text="#{entity.shipment.field.route}">Route:</label>
                            <select id="route" name="routeId">
                                <!-- Option for 'no selection' -->
                                <option value="" th:selected="${shipment.route == null}"></option>
                                <!-- Options for each route -->
                                <option th:each="route : ${routes}"
                                        th:value="${route.id}"
                                        th:selected="${route.id == shipment.route?.id}"
                                        th:text="${route.identificationNumber}"
                                        aria-label="Route">Route
                                </option>
                            </select>
                        </div>
                    </fieldset>

                    <fieldset class="date-boxes-container">
                        <legend th:text="#{entity.shipment.section.chronology}"></legend>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="datePlaced" class="form-label"
                                       th:text="#{entity.shipment.field.datePlaced}">Order Placed</label>
                            </div>

                            <div class="date-column">
                                <input id="datePlaced" type="datetime-local" name="datePlaced" th:value="*{datePlaced}"
                                       aria-label="Order Placed" class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="dateOrderProcessed" class="form-label"
                                       th:text="#{entity.shipment.field.dateOrderProcessed}">Order Processed</label>
                            </div>
                            <div class="date-column">
                                <input id="dateOrderProcessed" type="datetime-local" name="dateOrderProcessed"
                                       th:value="*{dateOrderProcessed}" aria-label="Order Processed" class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="dateReadyForDispatch" class="form-label"
                                       th:text="#{entity.shipment.field.dateReadyForDispatch}">Ready For
                                    Dispatch</label>
                            </div>
                            <div class="date-column">
                                <input id="dateReadyForDispatch" type="datetime-local" name="dateReadyForDispatch"
                                       th:value="*{dateReadyForDispatch}" aria-label="Ready For Dispatch"
                                       class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="dateConfirmedDispatch" class="form-label"
                                       th:text="#{entity.shipment.field.dateConfirmedDispatch}">Confirmed
                                    Dispatch</label>
                            </div>
                            <div class="date-column">
                                <input id="dateConfirmedDispatch" type="datetime-local" name="dateConfirmedDispatch"
                                       th:value="*{dateConfirmedDispatch}" aria-label="Confirmed Dispatch"
                                       class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="dateReachedWarehouse" class="form-label"
                                       th:text="#{entity.shipment.field.dateReachedWarehouse}">Reached Warehouse</label>
                            </div>
                            <div class="date-column">
                                <input id="dateReachedWarehouse" type="datetime-local" name="dateReachedWarehouse"
                                       th:value="*{dateReachedWarehouse}" aria-label="Reached Warehouse"
                                       class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="departureDate" class="form-label"
                                       th:text="#{entity.shipment.field.departureDate}">Departure Date</label>
                            </div>
                            <div class="date-column">
                                <input id="departureDate" type="datetime-local" name="departureDate"
                                       th:value="*{departureDate}" aria-label="Departure Date" class="form-input">
                            </div>
                        </div>

                        <div class="form-group horizontal-container">
                            <div class="label-column">
                                <label for="arrivalDate" class="form-label"
                                       th:text="#{entity.shipment.field.arrivalDate}">Arrival Date</label>
                            </div>
                            <div class="date-column">
                                <input id="arrivalDate" type="datetime-local" name="arrivalDate"
                                       th:value="*{arrivalDate}" aria-label="Arrival Date" class="form-input">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.additional}"></legend>

                        <div class="form-group mb-4">
                            <label for="clientComment" class="form-label"
                                   th:text="#{entity.shipment.field.clientComment}">Client
                                Comment</label>
                            <textarea id="clientComment" th:text="*{clientComment}" name="clientComment"
                                      th:value="*{clientComment}" rows="3" class="form-input auto-expand"
                                      aria-label="Client Comment"></textarea>
                        </div>

                        <div class="form-group mb-4">
                            <label for="internalComment" class="form-label"
                                   th:text="#{entity.shipment.field.internalComment}">Internal Comment:</label>
                            <textarea id="internalComment" th:text="*{internalComment}" name="internalComment"
                                      th:value="*{internalComment}" rows="3" class="form-input auto-expand"
                                      aria-label="Internal Comment"></textarea>
                        </div>

                        <div class="form-group ">
                            <label for="warehouseComment" class="form-label"
                                   th:text="#{entity.shipment.field.warehouseComment}">Warehouse
                                Comment:</label>
                            <textarea id="warehouseComment" th:text="*{warehouseComment}" name="warehouseComment"
                                      th:value="*{warehouseComment}" rows="2" class="form-input auto-expand"
                                      aria-label="Warehouse Comment"></textarea>
                        </div>
                    </fieldset>
                </div>

                <div class="tab-pane fade" id="nav-cargo" role="tabpanel"
                     aria-labelledby="nav-cargo-tab" tabindex="0">

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.declaredCargoInformation}"></legend>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="clientPcs" class="form-label" th:text="#{entity.shipment.field.clientPcs}">Client
                                    Pcs:</label>
                                <input id="clientPcs" type="text" name="clientPcs" th:value="*{clientPcs}"
                                       aria-label="Client Pcs" class="form-control">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="clientVolumeM3" class="form-label"
                                       th:text="#{entity.shipment.field.clientVolumeM3}">clientVolumeM3:</label>
                                <input id="clientVolumeM3" type="text" name="clientVolumeM3"
                                       th:value="*{clientVolumeM3}"
                                       aria-label="Client Volume M3" class="form-control">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="clientWeightKg" class="form-label"
                                       th:text="#{entity.shipment.field.clientWeightKg}">clientWeightKg:</label>
                                <input id="clientWeightKg" type="text" name="clientWeightKg"
                                       th:value="*{clientWeightKg}"
                                       aria-label="Client Weight Kg" class="form-control">
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-4">
                            <label for="shipmentType" class="form-label"
                                   th:text="#{entity.shipment.field.shipmentType}">shipmentType:</label>
                            <input id="shipmentType" type="text" name="shipmentType" th:value="*{shipmentType}"
                                   aria-label="Shipment Type" class="form-control">
                        </div>

                        <div class="form-group mb-4">
                            <label for="shipmentDescription" class="form-label"
                                   th:text="#{entity.shipment.field.shipmentDescription}">Shipment Description:</label>
                            <textarea id="shipmentDescription" th:text="*{shipmentDescription}"
                                      name="shipmentDescription"
                                      th:value="*{shipmentDescription}" rows="3" class="form-input auto-expand"
                                      aria-label="Shipment Description"></textarea>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.actualCargoParameters}"></legend>

                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="warehousePcs" class="form-label"
                                       th:text="#{entity.shipment.field.warehousePcs}">Warehouse
                                    Pcs:</label>
                                <input id="warehousePcs" type="text" name="warehousePcs" th:value="*{warehousePcs}"
                                       aria-label="Warehouse Pcs" class="form-control">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="warehouseVolumeM3" class="form-label"
                                       th:text="#{entity.shipment.field.warehouseVolumeM3}">warehouseVolumeM3:</label>
                                <input id="warehouseVolumeM3" type="text" name="warehouseVolumeM3"
                                       th:value="*{warehouseVolumeM3}"
                                       aria-label="warehouseVolumeM3" class="form-control">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="warehouseWeightKg" class="form-label"
                                       th:text="#{entity.shipment.field.warehouseWeightKg}">warehouseWeightKg:</label>
                                <input id="warehouseWeightKg" type="text" name="warehouseWeightKg"
                                       th:value="*{warehouseWeightKg}"
                                       aria-label="warehouseWeightKg" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="warehouseDiffComment" class="form-label"
                                   th:text="#{entity.shipment.field.warehouseDiffComment}">Warehouse Diff Comment:</label>
                            <textarea id="warehouseDiffComment" th:text="*{warehouseDiffComment}"
                                      name="warehouseDiffComment"
                                      th:value="*{warehouseDiffComment}" rows="3" class="form-input auto-expand"
                                      aria-label="Warehouse Diff Comment"></textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.claim}"></legend>

                    </fieldset>
                </div>

                <div class="tab-pane fade" id="nav-originDestination" role="tabpanel" aria-labelledby="nav-originDestination-tab"
                     tabindex="0">

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.sender}"></legend>

                        <div class="form-group">
                            <label for="countryOfDeparture" class="form-label"
                                   th:text="#{entity.shipment.field.countryOfDeparture}">Country of departure:</label>
                            <select id="countryOfDeparture" name="countryOfDepartureId">
                                <option th:each="country : ${countries}"
                                        th:value="${country.id}"
                                        th:selected="${country.id == shipment.countryOfDeparture.id}"
                                        th:text="${country.nameLocales[__${#locale.language}__]} ?: ${country.name}"
                                        aria-label="Name">Country of departure
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="manufacturer" class="form-label"
                                   th:text="#{entity.shipment.field.manufacturer}">Manufacturer:</label>
                            <select id="manufacturer" name="manufacturerId">
                                <option th:each="manufacturer : ${manufacturers}"
                                        th:value="${manufacturer.id}"
                                        th:selected="${manufacturer.id == shipment.manufacturer.id}"
                                        th:text="${manufacturer.name}"
                                        aria-label="Manufacturer">Manufacturer
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="deliveryType" class="form-label" th:text="#{entity.shipment.field.deliveryType}">Delivery Type:</label>
                            <input id="deliveryType" type="text" name="deliveryType" th:value="*{deliveryType}"
                                   aria-label="Delivery Type" class="form-input auto-expand">
                        </div>

                    </fieldset>


                    <fieldset>
                        <legend th:text="#{entity.shipment.section.recipient}"></legend>

                        <div class="form-group">
                            <label for="countryOfDestination" class="form-label"
                                   th:text="#{entity.shipment.field.countryOfDestination}">Country of destination:</label>
                            <select id="countryOfDestination" name="countryOfDestinationId">
                                <option th:each="country : ${countries}"
                                        th:value="${country.id}"
                                        th:selected="${country.id == shipment.countryOfDestination.id}"
                                        th:text="${country.nameLocales[__${#locale.language}__]} ?: ${country.name}"
                                        aria-label="Name">Country of destination
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="pickUpPoint" class="form-label" th:text="#{entity.shipment.field.pickUpPoint}">Pick-Up Point:</label>
                            <select id="pickUpPoint" name="pickUpPointId">
                                <!-- Default prompt for user to make a selection -->
                                <option value="" disabled selected></option>

                                <!-- Iterating through pickUpPoints to populate the dropdown -->
                                <option th:each="pickUpPoint : ${pickUpPoints}"
                                        th:value="${pickUpPoint.id}"
                                        th:selected="${shipment.pickUpPoint != null and pickUpPoint.id == shipment.pickUpPoint.id}"
                                        th:text="${pickUpPoint.nameLocales[__${#locale.language}__]} ?: ${pickUpPoint.name}"
                                        aria-label="Pick-Up Point">Pick-Up Point
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="destinationAddress" class="form-label"
                                   th:text="#{entity.shipment.field.destinationAddress}">Destination Address:</label>
                            <textarea id="destinationAddress" th:text="*{destinationAddress}" name="destinationAddress"
                                      th:value="*{destinationAddress}" rows="3" class="form-input auto-expand"
                                      aria-label="Destination Address"></textarea>
                        </div>
                    </fieldset>
                </div>

                <div class="tab-pane fade" id="nav-additional" role="tabpanel"
                     aria-labelledby="nav-additional-tab"
                     tabindex="0">

                </div>

                <div class="tab-pane fade" id="nav-cargoRelease" role="tabpanel"
                     aria-labelledby="nav-cargoRelease-tab" tabindex="0">

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.information}"></legend>

                    </fieldset>

                    <fieldset>
                        <legend th:text="#{entity.shipment.section.storage}"></legend>

                    </fieldset>
                </div>

                <div class="tab-pane fade" id="nav-invoices" role="tabpanel"
                     aria-labelledby="nav-invoices-tab" tabindex="0">

                </div>
            </div>

            <button type="submit" th:text="#{ui.button.update.label}" class="btn btn-success">Update</button>

        </form>

    </div>
</div>


<div class="form-actions">
    <div>
        <a th:href="@{/shipments}" th:text="#{ui.button.goBack}" class="btn btn-secondary">Go back</a>
    </div>
    <div>
        <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}" class="btn btn-secondary">Main Menu</a>
    </div>
</div>

<!-- Error Messages -->
<div th:insert="~{fragments::errors}"></div>

</body>
</html>