<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title>Business Types</title>
</head>
<body>

<h1>Business Types</h1>

<table id="businessTypesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Modified At</th>
        <th>Created By</th>
        <th>Modified By</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="businessType : ${businessTypes}">
        <td th:text="${businessType.id}">ID</td>
        <td><a th:href="@{'/businessTypes/' + ${businessType.id}}" th:text="${businessType.name}">Name</a></td>
        <td th:text="${businessType.description}">Description</td>
        <td th:text="${businessType.createdAt}">Created At</td>
        <td th:text="${businessType.modifiedAt}">Modified At</td>
        <td th:text="${businessType.createdBy}">Created By</td>
        <td th:text="${businessType.modifiedBy}">Modified By</td>
        <td>
            <form th:action="@{/businessTypes/{businessTypeId}/delete(businessTypeId=${businessType.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#businessTypesTable').DataTable();
    });
</script>

<h3>Add new business type</h3>
<form th:action="@{/businessTypes}" method="post">
    <label for="name">
        <input id="name" type="text" name="name">
    </label>
    <button type="submit">Add</button>
</form>
<br>

<div>
    <a th:href="@{/menu}">Go to Main menu</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

