<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.businessType.list.page.title}">Business Types</title>
    <script th:inline="javascript">initializeDataTable('businessTypesTable', [[${#locale.language}]]);</script>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.businessType.list.page.label}">Business Types</h1>

<form action="/businessTypes/create">
    <button type="submit" th:text="#{entity.businessType.create.button.label}">Add a new Business Type</button>
</form>

<table id="businessTypesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.businessType.field.name}">Name</th>
        <th th:text="#{entity.businessType.field.description}">Description</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="businessType : ${businessTypes}">
        <td th:text="${businessType.id}">ID</td>
        <td><a th:href="@{'/businessTypes/' + ${businessType.id}}" th:text="${businessType.nameLocales[__${#locale.language}__]} ?: ${businessType.name}">Name</a></td>
        <td><a th:href="@{'/businessTypes/' + ${businessType.id}}" th:text="${businessType.descriptionLocales[__${#locale.language}__]} ?: ${businessType.description}">Description</a></td>
        <td th:text="${businessType.createdBy}">Created By</td>
        <td th:text="${businessType.createdAt}">Created At</td>
        <td th:text="${businessType.modifiedBy}">Modified By</td>
        <td th:text="${businessType.modifiedAt}">Modified At</td>
        <td>
            <form th:action="@{/businessTypes/{businessTypeId}/delete(businessTypeId=${businessType.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

