<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
  <!--  <link rel="stylesheet" th:href="@{/css/style.css}"/>-->
  <title th:text="#{entity.manufacturer.list.page.title}">Manufacturers</title>
  <script>initializeDataTable('manufacturersTable');</script>
</head>
<body>

<h1 th:text="#{entity.manufacturer.list.page.label}">Manufacturers</h1>

<form action="/manufacturers/create">
  <button type="submit" th:text="#{entity.manufacturer.create.button.label}">Add a new Manufacturer</button>
</form>

<table id="manufacturersTable">
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{entity.manufacturer.field.name}">Name</th>
    <th th:text="#{entity.manufacturer.field.country}">Country</th>
    <th th:text="#{entity.manufacturer.field.address}">Address</th>
    <th th:text="#{entity.manufacturer.field.commentary}">Commentary</th>
    <dif th:insert="~{fragments::common_fields}"></dif>
  </tr>
  </thead>
  <tbody>
  <tr th:each="manufacturer : ${manufacturers}">
    <td th:text="${manufacturer.id}">ID</td>
    <td><a th:href="@{'/manufacturers/' + ${manufacturer.id}}" th:text="${manufacturer.name}">Name</a></td>
    <td th:text="${manufacturer.country.locales[__${#locale.language}__]} ?: ${manufacturer.country.name}">Country name</td>
    <td th:text="${manufacturer.address}">Address</td>
    <td th:text="${manufacturer.commentary}">Commentary</td>
    <td th:text="${manufacturer.createdBy}">Created By</td>
    <td th:text="${manufacturer.createdAt}">Created At</td>
    <td th:text="${manufacturer.modifiedBy}">Modified By</td>
    <td th:text="${manufacturer.modifiedAt}">Modified At</td>
    <td>
      <form th:action="@{/manufacturers/{manufacturerId}/delete(manufacturerId=${manufacturer.id})}"
            method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<div>
  <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>