<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.administrator.list.page.title}">Administrators</title>
    <script th:inline="javascript">initializeDataTable('administratorsTable', [[${#locale.language}]]);</script>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.administrator.list.page.label}">Administrators</h1>

<form action="/administrators/create">
    <button type="submit" th:text="#{entity.administrator.create.button.label}">Add a new administrator</button>
</form>

<table id="administratorsTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.administrator.field.username}">Username</th>
        <th th:text="#{entity.administrator.field.email}">Email</th>
        <th th:text="#{entity.administrator.field.firstname}">Firstname</th>
        <th th:text="#{entity.administrator.field.lastname}">Lastname</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrator : ${administrators}">
        <td th:text="${administrator.id}">ID</td>
        <td><a th:href="@{'/administrators/' + ${administrator.id}}" th:text="${administrator.username}">Username</a>
        </td>
        <td th:text="${administrator.email}">Email</td>
        <td th:text="${administrator.firstname}">Firstname</td>
        <td th:text="${administrator.lastname}">Lastname</td>
        <td th:text="${administrator.auditingInfoDto.createdBy}">Created By</td>
        <td th:text="${#temporals.format(administrator.auditingInfoDto.createdAt, 'dd.MM.yyyy, HH:mm')}">Created At</td>
        <td th:text="${administrator.auditingInfoDto.modifiedBy}">Modified By</td>
        <td th:text="${#temporals.format(administrator.auditingInfoDto.modifiedAt, 'dd.MM.yyyy, HH:mm')}">Modified At</td>

    </tr>
    </tbody>
</table>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('#administratorsTable').DataTable();-->
<!--    });-->
<!--</script>-->

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>