<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.administrator.list.page.title}">Administrators</title>
    <script>initializeDataTable('administratorsTable');</script>
</head>
<body>

<h1 th:text="#{entity.administrator.list.page.label}">Administrators</h1>

<form action="/administrators/create">
    <button type="submit" th:text="#{entity.administrator.create.button.label}">Add a new administrator</button>
</form>

<table id="administratorsTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.administrator.field.username}">Username</th>
        <th th:text="#{entity.administrator.field.email}">Email</th>
        <th th:text="#{entity.administrator.field.firstname}">Firstname</th>
        <th th:text="#{entity.administrator.field.lastname}">Lastname</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrator : ${administrators}">
        <td th:text="${administrator.id}">ID</td>
        <td><a th:href="@{'/administrators/' + ${administrator.id}}" th:text="${administrator.username}">Username</a>
        </td>
        <td th:text="${administrator.email}">Email</td>
        <td th:text="${administrator.firstname}">Firstname</td>
        <td th:text="${administrator.lastname}">Lastname</td>
        <td th:text="${administrator.createdBy}">Created By</td>
        <td th:text="${administrator.createdAt}">Created At</td>
        <td th:text="${administrator.modifiedBy}">Modified By</td>
        <td th:text="${administrator.modifiedAt}">Modified At</td>
        <td>
            <form th:action="@{/administrators/{administratorId}/delete(administratorId=${administrator.id()})}" method="post">
                <button type="submit"
                        id="removeButton"
                        class="btn btn-danger"
                        th:text="#{ui.button.remove.label}"
                        th:data-confirm-message="#{entity.administrator.remove.button.confirmation.message}">
                    <i class="fa fa-trash"></i> Remove
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('#administratorsTable').DataTable();-->
<!--    });-->
<!--</script>-->

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>