<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title>Administrator registration</title>
</head>
<body>

<h1>Administrator registration</h1>

<h3>Add a new administrator</h3>

<form th:action="@{/administrators}" method="post" class="administrator-form" th:object="${administrator}">

    <div class="form-group">
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" class="form-input" th:value="*{username}">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" th:value="*{email}">
    </div>

    <div class="form-group">
        <label for="firstname">First name:</label>
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </div>

    <div class="form-group">
        <label for="lastname">Last name:</label>
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </div>

    <div class="form-group" th:each="role : ${roles}">
        <label th:for="${role}" th:text="${role}">Role name</label>
        <input th:id="${role}" type="radio" name="role" th:value="${role}">
<!--        th:checked="${role == administrator.role}-->
    </div>

    <button type="submit" class="submit-button">Add</button>
</form>

<div>
    <a th:href="@{/administrators}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>