<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Agent</title>
  <!--  <link rel="stylesheet" type="text/css" href="/templates/style.css">-->
  <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>

<h1>Agent</h1>

<form th:action="@{/agents/{agentId}(agentId=${agent.id()})}" method="post" th:object="${agent}">
  <fieldset>
    <legend>Agent Details</legend>
    <div class="form-group">
      <label for="name" class="form-label">Name:</label>
      <input id="name" type="text" name="name" th:value="*{name}" aria-label="Agent Name" class="form-input">
    </div>
    <div class="form-group">
      <label for="phone" class="form-label">Code:</label>
      <input id="phone" type="text" name="phone" th:value="*{phone}" aria-label="Agent's phone" class="form-input">
    </div>
    <div class="form-group">
      <label for="commentary" class="form-label">commentary:</label>
      <input id="commentary" type="text" name="commentary" th:value="*{commentary}" aria-label="Commentary" class="form-input">
    </div>

    <button type="submit">Update</button>
  </fieldset>
</form>
<br>
<form th:action="@{/agents/{agentId}/delete(agentId=${agent.id()})}" method="post">
  <button type="submit">Remove</button>
</form>

<div>
  <a th:href="@{/agents}">Go back</a>
</div>

<div th:insert="~{fragments::errors}"></div>

</body>
</html>
