<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
  <!--  <link rel="stylesheet" th:href="@{/css/style.css}"/>-->
  <title th:text="#{entity.pickUpPoint.list.page.title}">Pick-Up Points</title>
  <script th:inline="javascript">initializeDataTable('pickUpPointsTable', [[${#locale.language}]]);</script>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.pickUpPoint.list.page.label}">Pick-Up Points</h1>

<form action="/pickUpPoints/create">
  <button type="submit" th:text="#{entity.pickUpPoint.create.button.label}">Add a new Pick-Up Point</button>
</form>

<table id="pickUpPointsTable">
  <thead>
  <tr>
    <th>ID</th>
    <th th:text="#{entity.pickUpPoint.field.name}">Name</th>
    <th th:text="#{entity.pickUpPoint.field.country}">Country</th>
    <th th:text="#{entity.pickUpPoint.field.address}">Address</th>
    <dif th:insert="~{fragments::common_fields}"></dif>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pickUpPoint : ${pickUpPoints}">
    <td th:text="${pickUpPoint.id}">ID</td>
    <td><a th:href="@{'/pickUpPoints/' + ${pickUpPoint.id}}" th:text="${pickUpPoint.nameLocales[__${#locale.language}__]} ?: ${pickUpPoint.name}">Name</a></td>
    <td th:text="${pickUpPoint.country.nameLocales[__${#locale.language}__]} ?: ${pickUpPoint.country.name}">Country name</td>
    <td><a th:href="@{'/pickUpPoints/' + ${pickUpPoint.id}}" th:text="${pickUpPoint.addressLocales[__${#locale.language}__]} ?: ${pickUpPoint.address}">Address</a></td>
    <td th:text="${pickUpPoint.auditingInfoDto.createdBy}">Created By</td>
    <td th:text="${#temporals.format(pickUpPoint.auditingInfoDto.createdAt, 'dd.MM.yyyy, HH:mm')}">Created At</td>
    <td th:text="${pickUpPoint.auditingInfoDto.modifiedBy}">Modified By</td>
    <td th:text="${#temporals.format(pickUpPoint.auditingInfoDto.modifiedAt, 'dd.MM.yyyy, HH:mm')}">Modified At</td>
  </tr>
  </tbody>
</table>

<div>
  <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>