<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="#{entity.pickUpPoint.edit.page.title}">Pick-Up Point</title>
  <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.pickUpPoint.edit.page.label}">Pick-Up Point</h1>

<form th:action="@{/pickUpPoints/{pickUpPointId}(pickUpPointId=${pickUpPoint.id()})}" method="post" th:object="${pickUpPoint}">
  <fieldset>
    <legend th:text="#{entity.pickUpPoint.edit.page.details.label}">Pick-Up Point Details</legend>

    <div class="form-group">
      <label for="name" class="form-label" th:text="#{entity.pickUpPoint.field.name} + ' (' + #{ui.default.label} + ')'">Name:</label>
      <input id="name" type="text" name="name" th:value="*{name}" aria-label="Priority Name" class="form-input">
    </div>

    <div class="form-group">
      <label for="country" class="form-label" th:text="#{entity.pickUpPoint.field.country}">Country:</label>
      <select id="country" name="countryId">
        <option th:each="country : ${countries}"
                th:value="${country.id}"
                th:selected="${country.id == pickUpPoint.country.id}"
                th:text="${country.nameLocales[__${#locale.language}__]} ?: ${country.name}"
                aria-label="Name">Country</option>
      </select>
    </div>

    <div class="form-group">
      <label for="address" class="form-label" th:text="#{entity.pickUpPoint.field.address} + ' (' + #{ui.default.label} + ')'">Address:</label>
      <input id="address" type="text" name="address" th:value="*{address}" aria-label="Priority Description" class="form-input">
    </div>

    <div th:each="localeEntry : ${pickUpPoint.nameLocales}">
      <div th:if="${#locale.language == localeEntry.key}" class="form-group">
        <label th:for="${'localization-' + localeEntry.key}" class="form-label"
               th:text="#{entity.pickUpPoint.field.name} + ${' (' + localeEntry.key + ')'}">Localized Name:</label>
        <input th:id="${'localization-' + localeEntry.key}" type="text"
               th:field="*{nameLocales[__${localeEntry.key}__]}" class="form-input">
      </div>
      <div th:if="${#locale.language != localeEntry.key}" class="form-group" style="display: none;">
        <input th:id="${'localization-' + localeEntry.key}" type="hidden"
               th:field="*{nameLocales[__${localeEntry.key}__]}">
      </div>
    </div>

    <div th:each="localeEntry : ${pickUpPoint.addressLocales()}">
      <div th:if="${#locale.language == localeEntry.key}" class="form-group">
        <label th:for="${'localization-' + localeEntry.key}" class="form-label"
               th:text="#{entity.pickUpPoint.field.address} + ${' (' + localeEntry.key + ')'}">Localized Description:</label>
        <input th:id="${'localization-' + localeEntry.key}" type="text"
               th:field="*{addressLocales[__${localeEntry.key}__]}" class="form-input">
      </div>
      <div th:if="${#locale.language != localeEntry.key}" class="form-group" style="display: none;">
        <input th:id="${'localization-' + localeEntry.key}" type="hidden"
               th:field="*{addressLocales[__${localeEntry.key}__]}">
      </div>
    </div>

    <button type="submit" th:text="#{ui.button.update.label}">Update</button>

  </fieldset>
</form>
<br>
<form th:action="@{/pickUpPoints/{pickUpPointId}/delete(pickUpPointId=${pickUpPoint.id()})}" method="post">
  <button type="submit"
          id="removeButton"
          class="btn btn-danger"
          th:text="#{ui.button.remove.label}"
          th:data-confirm-message="#{entity.pickUpPoint.remove.button.confirmation.message}">
    <i class="fa fa-trash"></i> Remove
  </button>
</form>

<div>
  <a th:href="@{/pickUpPoints}" th:text="#{ui.button.goBack}">Go back</a>
</div>
<div>
  <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go to Main</a>
</div>

<div th:insert="~{fragments::errors}"></div>

</body>
</html>