<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html lang="en" xmlns:th="http://www.thymeleaf.org">
      <head>
      <meta charset="UTF-8">
      <title>PickUpPoint</title>
  <!--  <link rel="stylesheet" type="text/css" href="/templates/style.css">-->
  <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>

<h1 th:text="#{entity.pickUpPoint.edit.page.label}">Pick-Up Point</h1>

<form th:action="@{/pickUpPoints/{pickUpPointId}(pickUpPointId=${pickUpPoint.id()})}" method="post" th:object="${pickUpPoint}">
  <fieldset>
    <legend>PickUpPoint Details</legend>
    <div class="form-group">
      <label for="name" class="form-label">Name:</label>
      <input id="name" type="text" name="name" th:value="*{name}" aria-label="Name" class="form-input">
    </div>
    <div class="form-group">
      <label for="country">Country:
        <select id="country" name="countryId">
          <option th:each="country : ${countries}"
                  th:value="${country.id}"
                  th:selected="${country.id == pickUpPoint.country.id}"
                  th:text="${country.name}"
                  aria-label="Name">Country</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label for="address" class="form-label">Address:</label>
      <input id="address" type="text" name="address" th:value="*{address}" aria-label="Address" class="form-input">
    </div>

    <button type="submit" th:text="#{ui.button.update.label}">Update</button>
  </fieldset>
</form>
<br>
<form th:action="@{/pickUpPoints/{pickUpPointId}/delete(pickUpPointId=${pickUpPoint.id()})}" method="post">
  <button type="submit"
          id="removeButton"
          class="btn btn-danger"
          th:text="#{ui.button.remove.label}"
          th:data-confirm-message="#{entity.pickUpPoint.remove.button.confirmation.message}">
    <i class="fa fa-trash"></i> Remove
  </button>
</form>

<div>
  <a th:href="@{/pickUpPoints}" th:text="#{ui.button.goBack}">Go back</a>
</div>
<div>
  <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go to Main</a>
</div>

<div th:insert="~{fragments::errors}"></div>

</body>
</html>