<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.routeStatus.label.registration}">Create a new routeStatus</title>
</head>

<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.routeStatus.create.page.label}">Route Status registration</h1>

<h3 th:text="#{entity.routeStatus.label.add}">Add a new Route Status</h3>

<form th:action="@{/routeStatuses}" method="post" class="routeStatus-form" th:object="${routeStatus}">

    <div class="form-group">
        <label for="name" th:text="#{entity.routeStatus.field.name}">Name:</label>
        <input id="name" type="text" name="name" class="form-input" th:value="*{name}">
    </div>

    <button type="submit" th:text="#{ui.button.add.label}" class="submit-button">Add</button>

</form>
<br>
<div>
    <a th:href="@{/routeStatuses}" th:text="#{ui.button.goBack}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>