body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #5181b8;
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/*NEON BUTTON-LIKE LINKS*/
/*.main-container a {*/
/*    display: inline-block;*/
/*    background-color: #000000; !* Dark background for contrast *!*/
/*    color: #ffffff; !* White text color *!*/
/*    border: none;*/
/*    padding: 10px 10px;*/
/*    margin: 5px;*/
/*    font-size: 16px;*/
/*    font-family: Arial, sans-serif;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 1.5px;*/
/*    position: relative;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.main-container a:hover {*/
/*    background-color: #303030;*/
/*}*/

/*.main-container a:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -5px;*/
/*    left: -5px;*/
/*    right: -5px;*/
/*    bottom: -5px;*/
/*    z-index: -1;*/
/*    background: linear-gradient(45deg, #00f5ff, #00f5ff, #00f5ff, #00f5ff, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);*/
/*    !*background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);*!*/
/*    background-size: 300%;*/
/*    border-radius: 10px;*/
/*    transition: all 0.3s ease;*/
/*    filter: blur(5px);*/
/*}*/

/*.main-container a:hover:before {*/
/*    filter: blur(8px);*/
/*    background-position: 100%;*/
/*}*/

.sidebar {
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    padding: 20px;
}

.content {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 8px;
    transition: background-color 1.3s;
}

ul li a:hover {
    color: #ffffff;
    background-color: #012750;
}

.logout-button {
    background-color: #5181b8;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.logout-button:hover {
    background-color: #43648c;
}
