<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>

<body>
<!-- Common styles and scripts -->
<th:block th:fragment="common-head-elements">
    <script th:src="@{/js/removeButton.js}"></script>
    <script th:src="@{/js/table.js}"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>

<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--        }-->

<!--        table {-->
<!--            width: 100%;-->
<!--            border-collapse: collapse;-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        th, td {-->
<!--            border: 1px solid #000;-->
<!--            padding: 10px;-->
<!--            text-align: left;-->
<!--        }-->

<!--        th {-->
<!--            background-color: #1aa5ff;-->
<!--            color: white;-->
<!--        }-->

<!--        tr:nth-child(even) {-->
<!--            background-color: #f2f2f2;-->
<!--        }-->

<!--        .delete-link {-->
<!--            color: red;-->
<!--        }-->

<!--        .form-group {-->
<!--            display: flex;-->
<!--            margin-bottom: 10px; /* Adjust spacing as needed */-->
<!--            align-items: center;-->
<!--        }-->

<!--        .form-label {-->
<!--            width: 150px; /* Adjust width as needed */-->
<!--            margin-right: 10px; /* Adjust spacing as needed */-->
<!--        }-->

<!--        .form-input {-->
<!--            flex: 1; /* Input takes up the remaining space */-->
<!--        }-->

<!--        .submit-button:hover {-->
<!--            background-color: #6ce30c;-->
<!--        }-->
<!--    </style>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</th:block>

<div th:fragment="header">
    <span th:text="${#authentication.principal.username}">Username</span>
    <br>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <div th:insert="~{fragment :: locale}"></div>
</div>

<div th:fragment="errors" th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="#{${error.defaultMessage}}">Error message</p>
</div>

<!-- ${error.defaultMessage}-->
<div th:fragment="locale">
    <label th:text="#{ui.language.select}">Role</label>
    <form action="">
        <select name="lang" onchange="this.form.submit()">
            <option></option>
            <option value="en">EN</option>
            <option value="ru">RU</option>
        </select>
    </form>
</div>

<div th:fragment="logOutButton">
    <form th:action="@{/logout}" method="post">
        <button style="background-color: #047901" type="submit" th:text="#{ui.logout.button.label}">Log out</button>
    </form>
</div>

</body>
</html>