<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.invoiceStatus.list.page.title}">Invoice Statuses</title>
    <script th:inline="javascript">initializeDataTable('invoiceStatusesTable', [[${#locale.language}]]);</script>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.invoiceStatus.list.page.label}">Invoice Statuses</h1>

<form action="/invoiceStatuses/create">
    <button type="submit" th:text="#{entity.invoiceStatus.create.button.label}">Add a new Invoice Status</button>
</form>

<table id="invoiceStatusesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.businessType.field.name}">Name</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="invoiceStatus : ${invoiceStatuses}">
        <td th:text="${invoiceStatus.id}">ID</td>
        <td><a th:href="@{'/invoiceStatuses/' + ${invoiceStatus.id}}" th:text="${invoiceStatus.nameLocales[__${#locale.language}__]} ?: ${invoiceStatus.name}">Name</a></td>
        <td th:text="${invoiceStatus.auditingInfoDto.createdBy}">Created By</td>
        <td th:text="${#temporals.format(invoiceStatus.auditingInfoDto.createdAt, 'dd.MM.yyyy, HH:mm')}">Created At</td>
        <td th:text="${invoiceStatus.auditingInfoDto.modifiedBy}">Modified By</td>
        <td th:text="${#temporals.format(invoiceStatus.auditingInfoDto.modifiedAt, 'dd.MM.yyyy, HH:mm')}">Modified At</td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

