<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.country.list.page.title}">Countries</title>
    <script>initializeDataTable('countriesTable');</script>
</head>
<body>

<h1 th:text="#{entity.country.list.page.label}">Countries</h1>

<form action="/countries/create">
    <button type="submit" th:text="#{entity.country.create.button.label}">Add a new Country</button>
</form>

<table id="countriesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>isActive</th>
        <th th:text="#{common.field.created_by}">Created By</th>
        <th th:text="#{common.field.created_at}">Created At</th>
        <th th:text="#{common.field.modified_by}">Modified By</th>
        <th th:text="#{common.field.modified_at}">Modified At</th>
        <th th:text="#{ui.button.remove.label}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country : ${countries}">
        <td th:text="${country.id}">ID</td>
        <td th:text="${country.code}">Code</td>
        <td><a th:href="@{'/countries/' + ${country.id}}" th:text="${country.name}">Name</a></td>
        <td th:text="${country.isActive}">isActive</td>
        <td th:text="${country.createdBy}">Created By</td>
        <td th:text="${country.createdAt}">Created At</td>
        <td th:text="${country.modifiedBy}">Modified By</td>
        <td th:text="${country.modifiedAt}">Modified At</td>
        <td>
            <form th:action="@{/countries/{countryId}/delete(countryId=${country.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

