<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Industry Type</title>
    <!--  <link rel="stylesheet" type="text/css" href="/templates/style.css">-->
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
</head>
<body>

<h1 th:text="#{entity.industryType.edit.page.label}">Industry Type</h1>

<form th:action="@{/industryTypes/{industryTypeId}(industryTypeId=${industryType.id()})}" method="post" th:object="${industryType}">
    <fieldset>
        <legend>Industry Type Details</legend>

        <div class="form-group">
            <label for="name" class="form-label">Name:</label>
            <input id="name" type="text" name="name" th:value="*{name}" aria-label="Industry Type Name" class="form-input">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Description:</label>
            <input id="description" type="text" name="description" th:value="*{description}" aria-label="Industry Type description" class="form-input">
        </div>

        <button type="submit" th:text="#{ui.button.update.label}">Update</button>
    </fieldset>
</form>
<br>
<form th:action="@{/industryTypes/{industryTypeId}/delete(industryTypeId=${industryType.id()})}" method="post">
    <button type="submit"
            id="removeButton"
            class="btn btn-danger"
            th:text="#{ui.button.remove.label}"
            th:data-confirm-message="#{entity.industryType.remove.button.confirmation.message}">
        <i class="fa fa-trash"></i> Remove
    </button>
</form>

<div>
    <a th:href="@{/industryTypes}" th:text="#{ui.button.goBack}">Go back</a>
</div>
<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go to Main</a>
</div>

<div th:insert="~{fragments::errors}"></div>

</body>
</html>
