<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title th:text="#{entity.industryType.list.page.title}">Industry Types</title>
    <script th:inline="javascript">initializeDataTable('industryTypesTable', [[${#locale.language}]]);</script>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>

<h1 th:text="#{entity.industryType.list.page.label}">Industry Types</h1>

<form action="/industryTypes/create">
    <button type="submit" th:text="#{entity.industryType.create.button.label}">Add a new Industry Type</button>
</form>

<table id="industryTypesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th th:text="#{entity.industryType.field.name}">Name</th>
        <th th:text="#{entity.industryType.field.description}">Description</th>
        <dif th:insert="~{fragments::common_fields}"></dif>
    </tr>
    </thead>
    <tbody>
    <tr th:each="industryType : ${industryTypes}">
        <td th:text="${industryType.id}">ID</td>
        <td><a th:href="@{'/industryTypes/' + ${industryType.id}}" th:text="${industryType.nameLocales[__${#locale.language}__]} ?: ${industryType.name}">Name</a></td>
        <td><a th:href="@{'/industryTypes/' + ${industryType.id}}" th:text="${industryType.descriptionLocales[__${#locale.language}__]} ?: ${industryType.description}">Description</a></td>
        <td th:text="${industryType.auditingInfoDto.createdBy}">Created By</td>
        <td th:text="${#temporals.format(industryType.auditingInfoDto.createdAt, 'dd.MM.yyyy, HH:mm')}">Created At</td>
        <td th:text="${industryType.auditingInfoDto.modifiedBy}">Modified By</td>
        <td th:text="${#temporals.format(industryType.auditingInfoDto.modifiedAt, 'dd.MM.yyyy, HH:mm')}">Modified At</td>
        <td>
            <form th:action="@{/industryTypes/{industryTypeId}/delete(industryTypeId=${industryType.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <a th:href="@{/menu}" th:text="#{ui.button.mainMenu}">Go back</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

