<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments :: common-head-elements}"></th:block>
    <title>Industry Types</title>
</head>
<body>

<h1>Industry Types</h1>

<table id="industryTypesTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Modified At</th>
        <th>Created By</th>
        <th>Modified By</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="industryType : ${industryTypes}">
        <td th:text="${industryType.id}">ID</td>
        <td><a th:href="@{'/industryTypes/' + ${industryType.id}}" th:text="${industryType.name}">Name</a></td>
        <td th:text="${industryType.description}">Description</td>
        <td th:text="${industryType.createdAt}">Created At</td>
        <td th:text="${industryType.modifiedAt}">Modified At</td>
        <td th:text="${industryType.createdBy}">Created By</td>
        <td th:text="${industryType.modifiedBy}">Modified By</td>
        <td>
            <form th:action="@{/industryTypes/{industryTypeId}/delete(industryTypeId=${industryType.id})}"
                  method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function() {
        $('#industryTypesTable').DataTable();
    });
</script>

<h3>Add a new industry type</h3>
<form th:action="@{/industryTypes}" method="post">
    <label for="name">
        <input id="name" type="text" name="name">
    </label>
    <button type="submit">Add</button>
</form>
<br>

<div>
    <a th:href="@{/menu}">Go to Main menu</a>
</div>

<dif th:insert="~{fragments::errors}"></dif>

</body>
</html>

